<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-2">
    <div class="container-fluid d-flex justify-content-between">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand fs-4 fst-italic fw-normal" href="#">VBL</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('main.vacations_list') }}">
                        <button class="btn btn-sm text-light" id="home-btn">Home</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('main.add_vacation') }}">
                        <button class="btn btn-sm text-light">Post</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('main.about') }}">
                        <button class="btn btn-sm text-light">About</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('main.contact') }}">
                        <button class="btn btn-sm text-light">Contact</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('auth.logout') }}">
                        <button class="btn btn btn-sm btn-outline-danger">Logout</button>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('auth.login') }}">
                        <button class="btn btn btn-sm btn-outline-success">Login</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('auth.register') }}">
                        <button class="btn btn btn-sm btn-outline-primary">Signup</button>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>