{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vacations-list.css') }}">
{% endblock styles %}

{% block title %} Vacations {% endblock %}

{% block content %}
<p class="fs-3 fw-light text-center">Start Your Journey</p>

<div class="row mx-auto">
    {% for vacation in vacations %}
    <div class="col-sm-6 col-md-6 col-lg-4 my-4 mx-auto">
        <div class="card">
            <img src="{{ url_for('static', filename=vacation.destination_photo) }}" class="card-img-top"
                 alt="{{ vacation.place }}">
            <div class="card-body">
                <h5 class="card-title">{{ render_icon('geo-alt') }} {{ vacation.place }}</h5>
                <p class="card-text">{{ vacation.description|truncate(200,true,'...')}}</p>
                <p class="card-text">{{ render_icon('cash-coin') }} &nbsp; Ksh {{ vacation.pricing }}</p>
                <p class="card-text">{{ render_icon('calendar3') }} &nbsp; {{
                    moment(vacation.date_of_visit).format('LL') }} </p>
                <p class="card-text">{{ render_icon('alarm') }} &nbsp; {{ vacation.days }} days stay</p>
                <p class="card-text mb-3">
                    {{ render_icon('person') }} &nbsp; posted by {{ vacation.user.first_name }} on {{
                    moment(vacation.posted_on).format('LL') }}
                </p>
                <a href="{{ url_for('main.vacation_details', place=vacation.place, vacation_id=vacation.vacation_id) }}"
                   class="btn btn-sm btn-primary">See More</a>

                {% if current_user.user_id == vacation.user.user_id or current_user.role_id == 1 %}
                <a href="" class="btn btn-sm btn-danger">Delete</a>
                {% endif %}

            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}